<html lang="en">
<% include template/head%>
<body>
    <div class="container-scroller">
        <!-- navbar -->
        <% include template/nav%>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- sidebar -->
            <% include template/sidebar%>
            <!-- Content -->
            <div class="container"> 
                <div class="jumbotron text-center">
                    <h1 class="display-3">Thêm mới Sinh viên</h1>
                    <hr class="my-2">               
                </div>
                <form action="/them" method="POST">
                   
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Họ và tên</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="" name="ten" id="example-text-input" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                            
                        <label for="example-text-input" class="col-2 col-form-label">Lớp</label>
                        <div class="col-10">
                        <select id="inputState" class="form-control"name="lop">
                            <option selected>Choose..</option>
                            <%data.forEach((item)=>{ %>
                            <option><%=item.name%></option>
                            <%})%>  
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Mã SV</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="" name="masinhvien" id="example-text-input" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Địa chỉ</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="" name="diachi" id="example-text-input" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Số điện thoại</label>
                        <div class="col-10">
                        <input class="form-control" type="number" value="" name="sdt" id="example-text-input" placeholder="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Email</label>
                        <div class="col-10">
                        <input class="form-control" type="text" value="" name="email" id="example-text-input" placeholder="">
                        </div>
                    </div>
                    
                    <div class="form-group row">
                        <label for="example-date-input" class="col-2 col-form-label">Ngày sinh</label>
                        <div class="col-10">
                        <input class="form-control" type="date" value="" name="ngaysinh" id="example-date-input">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    
                    
                      
                </form>
            </div>

            <!-- Content wrapper -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

       <!-- plugins:js -->
       <script src="/vendors/base/vendor.bundle.base.js"></script>
       <!-- endinject -->
       <!-- Plugin js for this page-->
       <script src="/vendors/chart.js/Chart.min.js"></script>
       <script src="/vendors/datatables.net/jquery.dataTables.js"></script>
       <script src="/vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
       <!-- End plugin js for this page-->
       <!-- inject:js -->
       <script src="/js/off-canvas.js"></script>
       <script src="/js/hoverable-collapse.js"></script>
       <script src="/js/template.js"></script>
       <!-- endinject -->
       <!-- Custom js for this page-->
       <script src="/js/dashboard.js"></script>
       <script src="/js/data-table.js"></script>
       <script src="/js/jquery.dataTables.js"></script>
       <script src="/js/dataTables.bootstrap4.js"></script>
       <!-- End custom js for this page-->
   

    <div class="__transltor">
        <div class="__transltor_button" style="left: 0px; top: 0px;"></div>
        <!---->
    </div>
</body>

</html>